.groupHeaderWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 2% 1% 2%;
}
#groupImgWarapper{
  display: block;
}

#groupNameWrapper{
  display: block;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
}

#groupBtnWrapper{
  display: block;
}

#joinLeaveBtn{
  width: 150px;
  height: 40px;
  border-radius: 100px;
  background-color: #F8B114;
  color: white;
  border: none;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

#inviteBtn {
  width: 150px;
  height: 40px;
  border-radius: 100px;
  background-color: #F8B114;
  color: white;
  border: none;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.groupHeaderWrapper img{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1%;
}