.topbar {
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    top: 0;

    background: #F8B114;
}

#topbar-logo {
    position: absolute;
    width: 7%;
    height: auto;
    left: 0px;
    top: 5%;

}

#login-box-logo {
    width: 15%;
    height: auto;
}

.loginbox label {
    width: 100%;
}

.btn-hide {
    border: none;
    color: dimgray;
}