.menu {
    background-color: #F8B114 !important
}

#logo {
    height: auto;
    width: 8%;
}

.NavBar-buttons {
    background-color: white !important;
    border-color: #F8B114;
    border-radius: 20px;
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    width: 60px !important;
    height: 60px !important;
}

.NavBar-buttons:hover {
    background-color: black !important;
    color: white;
    border-color: black;
}

.me-auto.my-2.my-lg-0 {
    position: relative;
    margin-left: -20% !important;
}