.profile {
    position: absolute;
    top: 18%;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
}

#profile-username {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;

    color: rgba(31, 31, 31, 0.95);
}


#profile-group-image {
    object-fit: cover;
    border-radius:50%;
    width: 50px;
    height: 50px;
}

.bulletpoint {
    width: 25px;
    height: 25px;
    background: #F8B114;
    border-radius: 8px;
}

#profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.profile-array {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}